{% extends "base.html" %}

{% block title %}
Mood
{% endblock title %}

{% block head %}
{% load static %}
<script type="text/javascript"       src="{% static 'js/react.production.min.js' %}"></script>
<script type="text/javascript"       src="{% static 'js/react-dom.production.min.js' %}"></script>
<script type="text/javascript"       src="{% static 'js/babel.min.js' %}"></script>
<script type="text/javascript"       src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript"       src="{% static 'js/nv.d3.min.js' %}"></script>
<script type="text/babel"            src="{% static 'js/react-nvd3.min.js' %}"></script>

<link rel="stylesheet"               href="{% static 'css/nv.d3.css' %}">
<link rel="stylesheet"               href="{% static 'css/mood.css' %}">

<script type="text/javascript">
var user_id = "{{ user_id|safe }}";
</script>
{% endblock head %}

{% block content %}
<div id="reactContainer"></div>

<script type="text/babel"            src="{% static 'components/mood.jsx' %}"></script>
{% endblock content %}