{% extends "base.html" %}

{% block head %}
<script type="text/javascript">

var user_id = "{{ user_id|safe }}";

$(document).ready(function(){
    
    $.getJSON('/moodtracker/get_user_profile/', {'user_id': user_id}, function(data){
        for (var item in data){
            var name = item;
            var value = data[item];
            var display_name = _.startCase(name.replace('_', ' '));
            createProfileItem(name, value, display_name)
        }
    });
});

function createProfileItem(name, value, display_name){
    // If no display name is given, use name
    if (typeof display_name === 'undefined'){
        display_name = name;
    }

    // Create item container
    var $profile_item = $("<div>", {
        id: 'profile_item_'+name,
        'class': 'profile_item'
    });

    // Create each element within the item
    var $profile_item_name = $("<div>", {
        id: 'profile_item_name_'+name, 
        'class': 'profile_item_name'
    }).text(display_name);

    var $profile_item_value = $("<div>", {
        id: 'profile_item_value_'+name, 
        'class': 'profile_item_value'
    }).text(value);

    // Add everything to the DOM
    $profile_item.append(
        $profile_item_name,
        $profile_item_value,
    );

    $('#profile_item_container').append($profile_item);
}

</script>

{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}

{% block content %}
<div id="profile">
    <h1>Profile</h1>
    <div id="profile_item_container">
    </div>
</div>
{% endblock content %}