{% extends "base.html" %}

{% block head %}
<script type="text/javascript">

var user_id = "{{ user_id|safe }}";

$(document).ready(function(){
    $.getJSON('/moodtracker/get_user_profile/', {'user_id': user_id}, function(data){
        for (var item in data){
            var name = item;
            var value = data[item];
            var display_name = _.startCase(name.replace('_', ' '));
            if (name == 'schedule'){
                createScheduleEditor(value);
            } else {
                createBasicSettingsItem(name, value, display_name);
            }
        }
    });
});

function createBasicSettingsItem(name, value, display_name){
    // If no display name is given, use name
    if (typeof display_name === 'undefined'){
        display_name = name;
    }

    // Create item container
    var $profile_item = $("<div>", {
        id: 'profile_item_'+name,
        'class': 'profile_item'
    });

    // Create each element within the item
    var $profile_item_name = $("<div>", {
        id: 'profile_item_name_'+name, 
        'class': 'profile_item_name'
    }).text(display_name);

    var $profile_item_value = $("<div>", {
        id: 'profile_item_value_'+name, 
        'class': 'profile_item_value'
    }).text(value);

    var $profile_item_value_input = $("<input type='text'>", {
        id: 'profile_item_value_input_'+name, 
        'class': 'profile_item_value_input'
    }).val(value);

    var $profile_item_edit_button = $("<div>", {
        id: 'profile_item_edit_button_'+name, 
        'class': 'profile_item_edit_button'
    }).text('edit');

    var $profile_item_save_button = $("<div>", {
        id: 'profile_item_save_button_'+name,
        'class': 'profile_item_save_button',
        'style': 'display: none'
    }).text('save');

    var $profile_item_cancel_button = $("<div>", {
        id: 'profile_item_cancel_button_'+name,
        'class': 'profile_item_cancel_button',
        'style': 'display: none'
    }).text('cancel');

    $profile_item.append(
        $profile_item_name,
        $profile_item_value,
        $profile_item_edit_button,
        $profile_item_save_button,
        $profile_item_cancel_button
    );

    // Add triggers for edit, save, and cancel buttons
    $($profile_item_edit_button).click(function(){
        $($profile_item_save_button).show();
        $($profile_item_cancel_button).show();
        $(this).hide();

        var txt = $profile_item_value.text();
        $($profile_item_value).replaceWith($profile_item_value_input);
        $($profile_item_value_input).val(txt);
    });

    $($profile_item_save_button).click(function(){
        $($profile_item_edit_button).show();
        $(this).hide();
        $($profile_item_cancel_button).hide();

        // figure out if change was made
        var change = true; 
        // If a change was made, update server-side values
        if (change){
            var user_update_dict = {};
            user_update_dict[name] = $profile_item_value_input.val();
            updateUserProfile(user_update_dict);
        }

        var txt = $profile_item_value_input.val();
        $($profile_item_value_input).replaceWith($profile_item_value);
        $($profile_item_value).text(txt);
    });

    $($profile_item_cancel_button).click(function(){
        $($profile_item_edit_button).show();
        $(this).hide();
        $($profile_item_save_button).hide();
        $($profile_item_value_input).replaceWith($profile_item_value);
    });

    // Add everything to the DOM
    $('#profile_item_container').append($profile_item);
}

function createScheduleEditor(schedule_data){
    for (var key in schedule_data){
        createBasicSettingsItem(key, schedule_data[key])
    }
}



function updateUserProfile(data){
    data['user_id'] = user_id;
    console.log(data);
    $.get('/moodtracker/update_user_profile/', data, function(msg){
        console.log(msg);
    });
}


</script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock head %}

{% block content %}
<div id="settings">
    <h1>Settings</h1>
    <div id="profile_item_container">
    </div>
</div>
{% endblock content %}