<!DOCTYPE html>
<html>

    <head>
        <title>Mood Tracker - {% block title %}{% endblock title %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral+SC:300,400,700" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,600" > 

        {% load static %}
        <script type="text/javascript"       src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript"       src="{% static 'js/lodash.min.js' %}"></script>

        <link rel="stylesheet"              href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/png"   href="{% static 'images/favicon.ico' %}">

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <div id="content">

            <div id="content_header">

                <div id="content_header_title">
                    <span class="page_title">
                        <a href="{% url 'index' %}">Mood Tracker</a>
                    </span>
                </div>

                <div id="content_header_profile_block">
                    
                    {% if request.user.is_authenticated %}
                    
                    <span id="content_header_profile_greeting">Hi, {{ request.user.username }}!</span>
                    <div id="content_header_profile_links">
                        <a href="{% url 'profile' username=request.user.username %}">Profile</a>
                        <a href="{% url 'settings' username=request.user.username %}">Settings</a>
                        <a href="{% url 'mood' username=request.user.username %}">Mood</a>
                        <a href="#">Button?</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>

                    {% else %}

                    <span>You're not logged in.</span>
                    <div id="content_header_profile_links">
                        <a href="{% url 'login' %}">Login</a>
                        or
                        <a href="{% url 'signup' %}">Sign Up!</a>
                    </div>
                    
                    {% endif %}

                </div>

            </div>

            <div id="content_body">
            {% block content %}
            {% endblock content %}
            </div>

        </div>
    </body>
</html>